/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow: hidden; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin-top: 109px; font-size: 13px; line-height: 1.231; height: 100%; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */


.divide-nav{
  height: 50px;
  background-color: #428bca;
}

.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.navbar-fixed-lower{
	position: fixed;
	width:100%;
	top: 50px;
  right: 0;
  left: 0;
  z-index: 1010;
}

.affix {
  top: 50px;
  width:100%;
}

.filler{
  min-height: 2000px;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}

.navbar-bgcolor-white {
    background-color: #ffffff;
    border-color: #E7E7E7;
}
.btn-toolbar .btn-group .btn{

	font-size:20px;

}
.navbar{
 margin-bottom: 0;	
}
.bg{
	position: absolute;
	width: 90%;
	top:110px;
	bottom: 0;
	overflow: scroll;
	background-color: #bfbfbf;
	text-align: center ;
	padding-left:0;
	padding-right:0;
	border-right: 1px solid #BBBBBB;
}

.thumbnail_bg{
	position: absolute;
	right:0;
	bottom:0px;
	top:110px;
	width:10%;
	overflow:scroll;
	background-color: #bfbfbf;
	border-left: 1px solid #BBBBBB;
	
}


.canvasSpace{


}
#file {
	display:none;
}

.canvasCloseUp{
	position:absolute;
	left:50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

.canvasCloseDown{
	position:absolute;
	left:50%;
	top:50%;	
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index:0;
}

#MainImageCanvas{
/*position:absolute;
*/
}
.canvas-container{
	position:absolute;
	z-index: 100;
	
}
.navbar-brand{
	font-weight: bold;
}

#annoCanvas{
	position:absolute;
}
/*
#mainContainer .canvas-container{
	position:absolute;
	display: block;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow: hidden;
}*/
#thumbnailCanvas{
	margin-top:20px;
}
.well{
	position:absolute;
	margin-left:50px;
}
.toolSpan1{width:50px;
	float: left;
}


.itext {
    background: transparent;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #b2ccff;
}

/* =============================================================================
   dropdown-submenu
   ========================================================================== */


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* =============================================================================
   icon
   ========================================================================== */

.icon_rotate90left{
    width : 20px;
    height: 28.56px;
    background-image: url('../images/rotate_left90.png');
    background-repeat:no-repeat;
    background-position: center center;
    padding:6px 12px 6px 12px;
}

.glyphicon{
  width : 20px;
  height: 24.56px;
  margin-top: 4px;
	background-position: center center;
}

.icon_rotate90right{
    width : 20px;
    height: 28.56px;
    background-image: url('../images/rotate_right90.png');
    background-repeat:no-repeat;
    background-position: center center;
    padding:6px 12px 6px 12px;
}


.icon_rotate180{
    width : 20px;
    height: 28.56px;
    background-image: url('../images/rotate_180.png');
    background-repeat:no-repeat;
    background-position: center center;
    padding:6px 12px 6px 12px;
}









